<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="profilePoints">
            <h2><span>Profile Points</span> {{profilePoints.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Points</span></dt>
                <dd>
                    <span>{{profilePoints.points}}</span>
                </dd>
                <dt><span>Perfil</span></dt>
                <dd>
                    <span>{{profilePoints.perfil}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/profile-points', profilePoints.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
